@{
    ViewData["Title"] = "Problema1";
    Layout = "_Layout";
}


<form asp-action="Problema1Result" method="post" >
    <label for="num">Ingrese un numero</label>
    <input type="text" name="num" placeholder="Ingrese un numero" />
    <button type="submit">Enviar</button>
</form>

